@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

.stack-sans-notch-font {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}